body {
    margin: 0;
    padding: 0;
}

#main-container {
    width: 1024px;
    height: 768px;
    background-color: aquamarine;;
}

#status {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 17%;
    background-color:blueviolet
}

.bars-wrapper {
    width: 30%;
    height: 100%;
    background-color: greenyellow;
}

.health {
    width: 90%;
    height: 40%;
    background-color: pink;
}

.stamina {
    width: 90%;
    height: 40%;
    background-color: blue
}

#characters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    background-color: lightsalmon;
}

.pj {
    height: 70%;
    width: 25%;
    background-color: white;
}

#actions {
    height: 13%;
    display: flex;
    justify-content: center;
}