@import url('main.css');
@import url('enemy.css');
@import url('player.css');
:root {
    --colour-one: #DFD828;
    --colour-two: #05D9E8;
    --colour-three: #05487E;
    --colour-four: #AA003F;
    --colour-five: #01012B;
    --colour-six: #4106AE;
    --colour-seven: #FF2A6D;
    --colour-eight: #1B3E40;
    --colour-nine: #eee;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    background-image: url(../images/background.png);
    background-size: cover;
    position: relative;
}

#main-container {
    width: 1024px;
    height: 768px;
    border-radius: 4px;
    border: 5px double #5d2145;
    background-size: cover;
    background-image: url("../images/scenario.jpg");
}

#status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27%;
}

.bars-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 35%;
    height: 60%;
    margin-top: 30px;
    padding: 0 20px;
}

.health {
    width: 100%;
    height: 40%;
    background-color: rgb(179, 255, 0);
    clip-path: polygon(13% 0%, 100% 0%, 85% 99.5%, 0% 100%);
    position: relative;
    span {
        position: absolute;
        right: 10em;
        top: 10px;
        color: var(--colour-five);
        font-size: 1.5em;
    }
}

.stamina {
    width: 100%;
    height: 40%;
    background-color: rgb(189, 0, 236);
    clip-path: polygon(13% 0%, 100% 0%, 85% 99.5%, 0% 100%);
    position: relative;
    span {
        position: absolute;
        top: 10px;
        right: 10em;
        color: var(--colour-five);
        font-size: 1.5em;
    }
}

#health-player span,
#stamina-player span {
    left: 10em;
}

#characters {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.pj {
    height: 80%;
    width: 25%;
}

#player {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-image: url("../images/player.png")
}

#enemy {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url("../images/enemy.png")
}

#actions {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}