@import url('main.css');
@import url('enemy.css');
@import url('player.css');
:root {
    --colour-one: #DFD828;
    --colour-two: #05D9E8;
    --colour-three: #05487E;
    --colour-four: #AA003F;
    --colour-five: #01012B;
    --colour-six: #4106AE;
    --colour-seven: #FF2A6D;
    --colour-eight: #1B3E40;
    --colour-nine: #eee;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    cursor: url("../images/cursor-default.png"), auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    background-image: url("../images/background.webp");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#main-container {
    width: 1024px;
    height: 768px;
    border-radius: 4px;
    border: 5px double #5d2145;
    background-size: cover;
    background-image: url("../images/scenario.gif");
    padding-bottom: 1em;
}

#hud {
    position: absolute;
    width: 1024px;
    height: 768px;
    z-index: 1;
}

#status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27%;
}

.bars-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 35%;
    height: 60%;
    margin-top: 30px;
    padding: 0 20px;
    row-gap: 1em;
}

.health {
    width: 100%;
    height: 40%;
    background-color: rgb(179, 255, 0);
    clip-path: polygon(13% 0%, 100% 0%, 85% 99.5%, 0% 100%);
    transition: 1.5s ease 0.2s;
    display: flex;
    justify-content: flex-end;
    border-bottom: 8px solid var(--colour-nine);
    span {
        padding-right: .9em;
        color: var(--colour-five);
        font-size: 1.5em;
    }
}

.stamina {
    width: 100%;
    height: 40%;
    background-color: rgb(189, 0, 236);
    clip-path: polygon(13% 0%, 100% 0%, 85% 99.5%, 0% 100%);
    transition: 1.5s ease 0.2s;
    display: flex;
    justify-content: flex-end;
    border-bottom: 6px solid var(--colour-two);
    span {
        padding-right: .9em;
        color: var(--colour-five);
        font-size: 1.5em;
    }
}

#health-player span,
#stamina-player span {
    left: 10em;
}

#characters {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 63%;
}

.pj {
    height: 80%;
    width: 25%;
}

#player {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 55%;
    background-image: url("../images/player.webp")
}

#enemy {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 65%;
    background-image: url("../images/enemy.webp")
}

#actions {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    column-gap: 1em;
    padding: .5em;
}

.attack,
.special,
.heal {
    border-radius: 50%;
    width: calc(5em + 1vw);
    height: calc(5em + 1vw);
    background-color: #333;
    border: 2px solid var(--colour-six);
    box-shadow: 0 7px var(--colour-four);
}

.btn:active  {
    transform: translateY(5px);
    box-shadow: 0 2px var(--colour-four);
}

.attack {
    background-image: url("../images/sword.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.special {
    background-image: url("../images/blast.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.heal {
    background-image: url("../images/syringe.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    cursor: url("../images/cursor-pointer.png"), auto;
}

.rain-wrapper {
    position: absolute;
    width: 1024px;
    height: 768px;
}

.rain {
    position: absolute;
    width: 97%;
    height: 95%;
    z-index: 0;
}

#back-row {
    display: block;
    z-index: -1;
    opacity: 0.5;
}

.drop {
    position: absolute;
    top: 0%;
    width: 15px;
    height: 90px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(650px);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
    opacity: 0;
}

@keyframes stem {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: block;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(0);
    }
    90% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.link-wrapper a {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
    text-decoration: none;
}

.repo-game {
    display: flex;
    align-items: center;
}